<img src="/main_logo_small_blue.png" class="small_main_logo">

<div class="all_contacts_nav_box"></div>

<div class="create_new">
	<h1>ALL CONTACTS</h1>
<!-- 
	<p class="inline">FIRST NAME</p>
	<P class="inline">LAST NAME</P>
	<p class="inline">EMAIL</p>
	<P class="inline">NOTE</P>
	<P class="inline">ID</P> -->

	<table>
		<tr>
			<th>FIRST NAME</th>
			<th>LAST NAME</th>
			<th>EMAIL</th>
			<th>NOTE</th>
			<th>ID</th>
		</tr>
	</table>	

	<table>
		<% @contacts.each do |contact| %>
		<tr>
			<td><%= contact.first_name %></td>
			<td><%= contact.last_name %></td>
			<td><%= contact.email %></td>
			<td><%= contact.note %></td>
			<td><%= contact.id %></td>
		</tr>
		<% end %>
	</table>
</div>

<div class="under_score_all_contact"></div>
<h3 class="left_just_add_contacts"><a href="/contacts/new">Add a contact</a></h3>
<h3 class="return_to_main"><a href="/">Return to Main Menu</a></h3>
